/* Reset + Base Typewriter Style */
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}
